lightning
opencv-python
omegaconf
jaxtyping
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.5.2
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
diffusers
transformers
accelerate
libigl
envlight
git+https://github.com/NVlabs/nvdiffrast.git
controlnet_aux
matplotlib
IPython
trimesh
wandb
kornia
kiui
mediapipe
tensorboard
imageio
imageio[ffmpeg]
tomesd